@import "primereact/resources/themes/saga-orange/theme.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "primeflex/themes/primeone-light.css";

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}
